.h1, h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 50px;
    color: #00BCD4;
}
.custom-select {
    display: inline-block;
    width: 30%;
    margin: 50px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    height: 40px;
    margin-top: 50px;
    margin-left: 100px;
}
.info {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 10px
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    color: #007bff;
  
}
.style {
    width: 40%;
    margin: 20px;
    display: inline-block;
}
